<div class="container" [ngClass]="headerClass">
  <span class="logo-and-button">
    <img src="{{ imageLogo }}" alt="Logo Trakto" />

    <button [ngClass]="display" (click)="goBack()">
      <img src="../../../../assets/images/logout.png" class="logout" alt="" />
      <p>Trocar de ambiente</p>
    </button>
  </span>

  <div class="menu">
    <fa-icon class="calendar" [icon]="faCalendarDays"></fa-icon>
    <p>{{ currentDate | date : "dd/MM/yyyy" }}</p>

    <span class="vertical-bar"></span>

    <fa-icon class="bell" [icon]="faBell"></fa-icon>

    <span class="vertical-bar"></span>

    <img class="image-perfil" src="{{ avatar }}" alt="Ícone de perfil" />

    <fa-icon (click)="showLogoutMenu()" [icon]="faSortDown"></fa-icon>

    <span class="logout-menu" [hidden]="!showMenu">
      <h5>Sua conta</h5>
      <h5>Perfil</h5>
      <h5>Suporte</h5>
      <a (click)="logout()">Sair da conta</a>
    </span>
  </div>
</div>
