.all-materials {
  min-height: 100vh;
  background-color: #eff2f9;
}

.subtitle {
  color: #7183a6;
  margin-bottom: 2vh;
}

.apresentations {
  box-sizing: border-box;
  width: 90vw;
  height: fit-content;
  background-color: var(--white);
  border-radius: 8px;
  padding: 2vw;
  overflow: hidden;
  margin: 30px 0;
}

.picture-apresentation,
.picture-youtube {
  width: 310px;
  height: 174px;
  margin: 1vw 1vw 1vw 0;
}

.picture-apresentation {
  border-radius: 8px;
  object-fit: cover;
}

.slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 310px;
  margin-right: 8px;
}

.slides-quantity {
  background-color: rgba(12, 12, 12, 0.7);
  border-radius: 24px;
  width: 66px;
  height: 24px;
  font-size: 14px;
  padding: 4px 8px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 3%;
}

.slides a {
  color: #354564;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.slides a:hover {
  text-decoration: underline;
}

.options-apresentation {
  display: flex;
  justify-content: space-between;
}

.options-apresentation button {
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #354564;
  margin-bottom: 1vh;
}
